body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    background: #151515;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#root,
.App {
    width: 100%;
}



/* Layout CSS */
.layout-sidenav {
    background: #2B2B2B;
    box-shadow: 0 2px 23px -5px rgba(0, 0, 0, 0.12);
    padding: 13px 10px;
    position: fixed;
    height: 100%;
    z-index: 999;
    top: 0px;

}

.layout-highlight {
    width: 450px;
    float: left;
    margin-left: 70px;
    padding: 30px 30px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 6px 20px 5px rgba(154, 154, 154, 0.1);

}

.layout-body {
    width: 100%;

}

@media(max-width:1024px) {
    body {
        padding: 0px;
    }

    .wrapper {
        width: 100% !important;
        margin: 0px !important;
        padding: 0px 20px;
    }

    .layout-sidenav {
        display: none;
    }
}

.wrapper {
    width: 70%;
    margin: 0px auto 0px auto;
}

.header {
    color: #fff;
    padding: 30px 0px 5px 0px;

}

.header h1 {
    font-size: 20px;
}

/* Bootstrap Resets */

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.days li {
    display: inline-block;
    background: #16191C;
    padding: 3px 8px;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    margin-right: 4px;
    margin-top: 4px;
}


/* Side Bar Navigation */

.sidebar {
    width: 100%;
    text-align: center;

}

.sidebar li {
    font-size: 20px;
    cursor: pointer;
}

.sidebar li a {
    padding: 15px 18px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    transition: 0.3s;
}

.sidebar li a:hover {
    background: #111;
    border-radius: 9px;
}

.sidebar li a.active {
    background:#4949BE;
    border-radius: 9px;
}


/* Top Navigation Dashboard */

.top-nav {
    padding: 30px 0px 40px 0px;
    white-space:nowrap;
    display: block;
    overflow-y: hidden;

}

.top-nav li {
    display: inline;
    font-weight: bold;

}

.top-nav li a {
    display: inline-block;
    padding: 8px 30px;
    margin-right: 30px;
    color: #fff;
    transition: 0.3s;

}

.top-nav li.active a {
    border-radius: 30px;
    background-image: linear-gradient(180deg, #4949BE 0%, #34348F 100%);
}

.top-nav li.active a:hover {
    color: #fff;
}

.top-nav li a:hover {
    text-decoration: none;
    color: #999;
}

/* List Styling */
.list-item {
    background: #1E2125;
    border-bottom: 1px solid #151515
}


/* Card Styling */

.card {
    background: #1E2125;
    border-radius: 10px;
    border: none;
}

.card-header {
    padding: 20px 30px;
    font-size: 13px !important;
    font-weight: bold;
    background: #16191C;
    border-bottom: 1px solid #151515;
}

.card-footer {
    padding: 20px 30px;
    font-size: 13px !important;
    font-weight: bold;
    border-top: 1px solid #151515;
}

.card-hover {
    transition: 0.3s;
    cursor: pointer;
}

.card-hover:hover {
    box-shadow: 0 2px 23px -5px rgba(0, 0, 0, 0.8);
}

.card-body {
    padding: 30px;
}

.card-light {
    background: transparent !important;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #6D7277;
    display: inline-block;
    margin-left: 5px;
    position: relative;
}



.dot-ripple:after {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: #51D679;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
    -webkit-animation-name: 'ripple';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

@keyframes ripple {
    0% {
        left: 2px;
        top: 2px;
        opcity: 75;
        width: 0;
        height: 0;
    }

    100% {
        left: -12px;
        top: -12px;
        opacity: 0;
        width: 30px;
        height: 30px;
    }
}



.show-device-props:hover,
.show-device-props:active,
.show-device-props:focus {
    outline: none;
}

.show-device-props {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    top: 20px;
}

.show-device-props:hover {
    opacity: 0.6;
}


/* Helper Classes */

.p-all-less {
    padding: 20px;
}

.bg-dark {
    background: #000 !important;
}

.b-t {
    border-top: 1px solid #151515;
}

.n-p{
padding: 0px!important;
margin: 0px;

}
.b-t-light {
    border-top: 1px solid #222;
}

.b-b {
    border-bottom: 1px solid #666;
}

.h-100 {
    position: static;
    height: 100%;
}

.v-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.float-right {
    position: absolute !important;
    top: 50%;
    margin-top: -22px;
    right: -22px;
    z-index: 99;
}

.float-center {
    position: absolute !important;
    margin-left: -22px;
    background: #fff;
    top: 0px;
    width: 100%;
}


.border-rounded {
    border-radius: 6px;
    overflow: hidden;
}

.empty-device {
    border: 2px dashed #444;
    border-radius: 6px;
    padding: 40px;

}

.hide {
    display: none;
}

/* Typography Styles */

h2 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.text-white {
    color: #fff;
}

.text-secondary {
    color: #6D7277 !important;
}

.text-info {
    color: #4949BE !important;
}

.text-md {
    font-size: 18px;
}



.text-1x {
    font-size: 30px;
}

.text-3x {
    font-size: 55px;
    line-height: 44px;
}

.text-10x {
    font-size: 120px;
    line-height: 85px;
}

.text-normal {
    font-size: 13px;
    font-weight: normal !important;
}

.text-thin {
    font-weight: 300;
}

.text-bold {
    font-weight: bold;
}


/* Table Styling */

.table{
    color: #fff;
    margin-bottom: 0px;
}
.table td, .table th{
    border-top: 1px solid #151515;
    padding: 15px 30px!important;
    font-weight: normal;
    vertical-align: middle;
}


/* borders styling */

.b-l-info {
    border-left: 2px solid #4949BE;
}

.b-r-default {
    border-right: 1px solid #494949;
}

.b-l-info {
    border-left: 3px solid #4949BE;
}

.b-l-success {
    border-left: 3px solid #51D679;
}

.b-l-default {
    border-left: 3px solid #fff;
}

.b-l-error {
    border-left: 3px solid #ff6b6b;
}



/* Background colors */

.bg-success {
    background: #51D679;
}
.bg-info{
    background: #4949BE!important;
}

/* Slider Styling */
.slider-slide {
    padding: 0px 10px;
}

.slider-wrapper {
    margin: 0px -10px;
}


/* Offline Styling */

.offline {
    position: relative;
    transition: 0.3s;

}

.offline .card-body {
    opacity: 0.1;
}

.offline-icon {
    display: none;
}

.offline .offline-box {
    opacity: 0.1;
}

.offline-icon::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    content: "\f06a";
    font-size: 20px;

}

.offline .offline-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -16px;
    margin-left: -8px;
    left: 50%;
    z-index: 999;
    color: #ff6b6b;
}


/* Badges Styling */

.badge {
    display: inline-block;
    background: #16191C;
    padding: 3px 10px;
    font-size: 12px;
    color: #6D7277 !important;
    line-height: normal !important;
    text-align: center;
    border-radius: 3px;
    margin-right: 4px;
    margin-top: 4px;
    font-weight: normal !important;
}

.badge b {
    color: #ccc;
}

.badge-info {
    background: #4949BE;
    color: #fff !important;
}

.badge-warning {
    background: #F19438;
    color: #fff !important;
}

.badge-success {
    background: #51D679;
    color: #fff !important;
}

/* Button Styling */
button,
button:active,
button:focus {
    border: none;
    outline: none;
}

.btn {
    border-radius: 6px;
    font-size: 13px;
    padding: 16px 25px;
    border: none;
    transition: 0.3s;
    font-weight: 700;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: none !important;
    border: none;
    box-shadow: 0 9px 30.5px 1.5px rgba(0, 0, 0, .35) !important;
}

.btn-info {
    background: #4949BE;
    color: #fff;
}

.btn-info:hover {
    background: rgb(50, 50, 133);
    color: #fff;
}

.btn-default {
    background: #222;
    color: #555;
}

.btn-default:hover {
    background: #111;
    color: #555;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus {
    background: #111;
    color: #555;
    opacity: 0.4;
    box-shadow: none !important;
}

.btn-action {
    background: transparent;
    border: none;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn-action-disabled {
    background: #333;
    color: #999;
    border: none;
    margin-left: 10px;
    transition: 0.3s;
}

.btn-action:hover,
.btn-action:active,
.btn-action:focus {
    background: #000;
    box-shadow: 0 9px 30.5px 1.5px rgba(0, 0, 0, .1) !important;
    text-decoration: none;
    color: #fff;
}

.link {
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.link:hover {
    color: #666;
}

/* Edit Card Overlay Styling */
.has-edit-hover {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.edit-overlay {
    display: none;
}

.edit-overlay .text-lg {
    line-height: 45px;
}

.edit-overlay .icon-edit {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 50%;
    margin-left: -22px;
}

.has-edit-hover:hover .edit-overlay {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    border-radius: 6px;
    display: block;
}

/* Form Styling */

label {
    color: #999;
}

.form-control {
    background: #151515;
    border: none;
    padding: 10px 20px !important;
    display: block;
    font-size: 13px;
    height: auto !important;
    color: #fff;
    border: 2px solid transparent;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
    background: #151515;
    box-shadow: none;
    color: #ccc;
    border: 2px solid #4949BE;
}

/* Icon styling overrides  */
.icon-bg-light {
    background-color: #555;
    color: #ccc;
    cursor: pointer;
}

.icon-bg-light:hover {
    background-color: #777;
    color: #fff !important;
    box-shadow: 0 9px 30.5px 1.5px rgba(0, 0, 0, .1) !important;
}

/* Nav Stylings */

.nav-tabs {
    border-bottom: 1px solid #444;
}

.nav-link.active {
    color: #fff !important;
}


/* Modal Styling */
.modal-backdrop.show {
    opacity: 0.9 !important;
}

.modal-content {
    background: #151515;
    border-color: #000
}

.modal-header .close {
    text-shadow: none;
    color: #fff;
}

.modal-body {
    padding: 20px 40px;
}

.modal-header {
    border-bottom: none;
    padding: 30px 40px 20px 40px;
}


/* Izitoast Styling */

.iziToast {
    border-radius: 6px !important;

}

.iziToast.iziToast-balloon:after {
    box-shadow: none !important;
}


/* Timekeeper Styling */
.time-keeper-box{
    position: absolute;
    z-index: 999;
}

.react-timekeeper{
    box-shadow: 0 9px 30.5px 1.5px rgba(0,0,0,.35)!important;
}


/* Progress Bar Styling */

.progress{
    height: 3px;
    background: #151515;
}

/* Pop Notifications Styling */
.overlay-notification{
    position: fixed;
    text-align: center;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,1);
    padding-top: 150px;
    transition: 0.5s;
}
.overlay-notification-title{
    font-size: 80px;
    font-weight: 300;
    line-height: 100px;
    transition: 1s;
}
.overlay-notification-message{
    font-size: 50px;
    font-weight: 300;
    line-height: 63px;
    transition: 1s;
}
.overlay-notification-icon{
    font-size: 50px;
}



.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }



/* Timeline Styling */

.timeline {
    border-left: 2px dashed #666;
    margin-left: 150px;
}

.timeline-container {
    margin-left: -190px;
}

.time-cont {
    float: left;
    width: 150px;
}

.dot-cont {
    width: 80px;
    float: left;
    text-align: center;
}

.dot-1x {
    width: 30px;
    display: inline-block;
    height: 30px;
    border: 6px solid #151515;
    background: #fff;
    border-radius: 100%;
}

.content-cont {
    width: (100%- 250px)
}