.git/
.local/
.nano/
.gnupg/
.cache/
.npm/
.keras/
.config/
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.python_history
.wget-hsts
.DS_Store
tests/
env/
node_modules/
*.log
*.pyc
__pycache__
