
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4A5669;
    background: #F7F7F7;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
#root, .App{
    width: 100%;
}
.layout-sidenav{
    width: 70px;
    float: left;
    position: fixed;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 6px 20px 5px rgba(154, 154, 154, 0.1);
    z-index: 999;

}
.layout-highlight{
    width: 450px;
    float: left;
    margin-left: 70px;
    padding:30px 30px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 6px 20px 5px rgba(154, 154, 154, 0.1);

}
.layout-body{
    width: calc(100% - 520px);
    float: right;
   
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.wrapper {
    width:90%;
    margin: 0px auto 30px auto;
}


.col-xs-3{
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding: 30px 0px 20px 0px;
}

.text-sm {
    font-size: 11px;
}

.text-md {
    font-size: 13px;
}

.text-lg {
    font-size: 18px;
    line-height: 25px;
}
.text-bold{
    font-weight: 600;
    color: #222;
}
.text-light{
    color: #fff!important;
}
.text-xl {
    font-size: 22px;
    line-height: 30px;
}

.text-xxl {
    font-size: 45px;
    line-height: 40px;
    font-weight: 300;
}

.text-secondary{
    font-weight: 400;
    opacity: 0.8;
    color: #8A929E;
}
.italics{
    font-style: italic;
}
b{
    font-weight: 600!important;
    opacity: 1!important;
}

p {
    margin: 0px;
    padding: 0px;
}

h1,
h2,h3,h4 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: #222;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    position: relative;
}

/* h1:after{
        background: #4949BE;
        content: " ";
        display: block;
        height: 1px;
        position: absolute;
        width: 100%;
        margin-top: 9px;
} */

h2 {
    font-weight: 600;
    font-size: 16px;
    
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 14px;
}

h4{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-transform:capitalize!important;

}

.owl-carousel .item img{
    width: auto;
}
.icon-left{
    float: left;
    margin-right: 20px;
}

.clearfix{
    float: none;
    clear: both;
}

.card-on{
    box-shadow: 0 6px 20px 3px #D7F6E0!important;
}

.card {
    padding: 0px;
    border-radius: 6px;
    background: #FFFFFF;
    position: relative;
    border: none;
    display: block;
    
}
.card-header{
    border-bottom: 1px solid #efefef;
    padding: 20px 25px;
    background:transparent;
}

.show-device-props{
    position: absolute;
    right: 20px;
    top: 20px;
}

.text-status{
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    margin-top: 10px;
}

.on .text-status{
    color: #51D679
}
.title-case{
    text-transform:capitalize!important;
}
.card-shadow {
    box-shadow: 0 6px 20px 5px rgba(154, 154, 154, 0.05);
}
.card-hover{
   cursor: pointer;
   transition: 0.3s;
}

.card-body{
    padding: 23px 25px;
    transition:0.3s;

}
.p-all-less{
    padding: 13px 15px;
}
.p-all-less-md{
    padding: 20px 23px;
}

.card-footer{
    background: none;
    border: none;
    padding: 0px 25px 23px 25px;
}
.card-hover:focus, card-hover:active{
 }
.card-hover:hover{
    opacity: 0.9;

}   
.progress{
    height: 3px;
}
.bg-info{
    background-color: #4949BE!important;
}
.bg-success{
    background-color: #51D679!important;
}
.text-success{
    color: #51D679!important;
}
.text-danger{
    color: #ff6b6b!important;
}
.bg-danger{
    background-color: #ff6b6b!important;
}
.badge{
    color: #fff;
    font-size: 11px;
    padding: 5px 10px 7px 10px;
    font-weight: 400;
    border-radius:3px;
    display: inline-block;
    margin-top: 3px;
}
.badge-success{
    background-color: #D7F6E0;
    color: #51D679;
}
.badge-warning{
    background-color: #FFEFE0;
    color: #F19438;
}
.badge-danger{
    background-color: #ff6b6b;
    color: #fff;
}
.n-p{
    padding: 0px!important;
}
.table tr:first-child td, .table tr:first-child th{
    border-top: none!important;
}

.table td, .table th{
    border-top: 1px solid #efefef;
}


.table tr th, .table tr td{
    padding: 15px 25px;
    font-weight: normal;
}
.text-capitalize{
    text-transform: capitalize!important;
}

.offline{
    position: relative;
    transition:0.3s;
   
}

.offline div:nth-child(2){
    opacity: 0.4;
}

.offline-icon{
    display: none;
}

.offline-icon::before{
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    content: "\f06a";
    font-size: 20px;
    
}
.offline .offline-icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -16px;
    margin-left: -8px;
    left: 50%;
    z-index: 999;
}

.sidebar{
   
    width: 100%;
    text-align: center;
   
}
.sidebar li{
    font-size: 20px;
    cursor: pointer;

}
.sidebar li a{
    padding: 20px 24px;
    border-left: 3px solid #fff;
    display: inline-block;
    width: 100%;
    color: #666;
}

.sidebar li a:hover{
    color: #8A929E;
    background: none;
}
.sidebar li a.active{
    background-color: #F1F1FA;
    color: #4949BE;
    border-left: 3px solid #4949BE;
}

.iziToast{
    border-radius: 6px!important;
}

.card-info{
    background-color: #4949BE;
    color: #fff!important;
}

.card-warning{
    background-color:#f9ca24;
    color: #fff!important;
}


.card-default{
    background-color: #333;
    color: #fff!important;
}
.card-default-light{
    background: #555;
}

.card-info h2, .card-default h2, .card-warning h2, .card-default .text-bold{
    color: #FFF;
}
.card-warning .text-secondary, .card-default .text-secondary{
    color: #fff!important;
    opacity: 0.8;
}
.card-outline-default{
    border: 1px solid #f5f5f5;
}
.card-outline-info{
    border: 1px solid #4949BE;
}
.card-outline-warning{
    border: 1px solid #F19438;
}
.card-outline-success{
    border: 1px solid #51D679;
}

.nav-mobile{
    display: none;
}

@media(max-width:1024px){
    body{
        padding: 0px;
    }
    .wrapper{
        width: 100%!important;
        margin: 0px!important;
    }
    .layout-sidenav{
        display: none;
    }
    .layout-highlight{
        width: 100%;
        float: none;
        margin: 0px;
        padding:30px 30px;
        height: auto;
        position: relative;
        background-color:transparent;
        box-shadow:none;
    }
    .layout-body{
        width: 100%;
        float: none;
        margin: 0px;
        padding:0px 30px 130px 30px;
       
    }
    .header {
        padding: 10px 0px 20px 0px;
    }
    .nav-mobile{
        display: block;
    }
}

.slider-slide{
    padding: 0px 10px;
}
.slider-wrapper{
    margin: 0px -10px;
}

.nav-mobile{
    position: fixed;
    bottom: 0px;
    background: #fff;
    width: 100%;
    z-index: 99999;
    text-align: center;
    -webkit-box-shadow: 2px -4px 17px -4px rgba(0,0,0,0.1);
-moz-box-shadow: 2px -4px 17px -4px rgba(0,0,0,0.1);
box-shadow: 2px -4px 17px -4px rgba(0,0,0,0.1);
}
.nav-mobile ul li{
    display: inline;
}
.nav-mobile a{
    padding: 15px;
    border-bottom: 3px solid #fff;
    display: inline-block;
    font-size: 13px;
    color: #666;
    width: 25%
}
.nav-mobile li a.active{
    background-color: #F1F1FA;
    color: #4949BE;
    border-bottom: 3px solid #4949BE;
}

/* Bootstrap Button Overide CSS */
.btn{
    border-radius: 40px;
    font-size: 13px;
    padding: 12px 20px;
    border: none;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: none!important;
    background: #333;
}
.btn:active{
    background: #555!important;
}
.btn-info{
    background: #4949BE;
    color: #fff;
}


.h-100{
    height: 100%;
}
.card-inner-50{
    width: 50%;
    float: left;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.v-center{
    display: flex;
    justify-content: center;
  flex-direction: column;
}


ul.days li{
    display: inline-block;
    font-weight: normal;
    opacity: 0.5;
    border-radius: 3px;
}
.list-item{
    border-bottom: 1px solid #f1f1f1;
    border-left: 2px solid #fff;
    cursor: pointer;
}
.list-item:hover{
    background: #fafafa;
    border-left: 2px solid #4949BE;
}



.badge-1x {
    height: 44px;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}