
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4A5669;
    background: #F7F7F7;
    padding: 0px;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.wrapper {
    width: 80%;
    margin: 0px auto 30px auto;
}
@media(max-width:1024px){
    .wrapper {
        width: 100%;
    }
    body{
        padding: 0px 30px;
    }
    .sidebar{
        display: none;
    }
}

.col-xs-3{
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding: 40px 0px 20px 0px;
}

.text-sm {
    font-size: 11px;
}

.text-md {
    font-size: 13px;
}

.text-lg {
    font-size: 18px;
    line-height: 25px;
}
.text-bold{
    font-weight: 600;
    color: #222;
}
.text-xl {
    font-size: 20px;
    line-height: 38px;
}

.text-xxl {
    font-size: 45px;
    line-height: 40px;
    font-weight: 300;
}

.text-secondary{
    font-weight: 400;
    opacity: 0.8;
    color: #8A929E;
}

b{
    font-weight: 600!important;
    opacity: 1!important;
}

p {
    margin: 0px;
    padding: 0px;
}

h1,
h2,h3,h4 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: #222;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    position: relative;
}

/* h1:after{
        background: #4949BE;
        content: " ";
        display: block;
        height: 1px;
        position: absolute;
        width: 100%;
        margin-top: 9px;
} */

h2 {
    font-weight: 600;
    font-size: 16px;
    
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 14px;
}

h4{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-transform:capitalize!important;

}

.owl-carousel .item img{
    width: auto;
}
.icon-left{
    float: left;
    margin-right: 20px;
    width: auto!important;
}

.clearfix{
    float: none;
    clear: both;
}

.card-on{
    box-shadow: 0 6px 20px 3px #D7F6E0!important;
}

.card {
    padding: 0px;
    border-radius: 6px;
    background: #FFFFFF;
    position: relative;
    border: none;
    display: block;
    
}
.card-header{
    border-bottom: 1px solid #efefef;
    padding: 20px 25px;
    background:transparent;
}

.show-device-props{
    position: absolute;
    right: 20px;
    top: 20px;
}

.text-status{
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    margin-top: 10px;
}

.on .text-status{
    color: #51D679
}
.title-case{
    text-transform:capitalize!important;
}
.card-shadow {
    box-shadow: 0 6px 20px 5px rgba(154, 154, 154, 0.05);
}
.card-hover{
   cursor: pointer;
   transition: 0.3s;
}

.card-body{
    padding: 23px 25px;
    transition:0.3s;

}
.card-footer{
    background: none;
    border: none;
    padding: 0px 25px 23px 25px;
}
.card-hover:focus, card-hover:active{
 }
.card-hover:hover{
    opacity: 0.9;

}   
.progress{
    height: 3px;
}
.bg-info{
    background-color: #4949BE!important;
}
.bg-success{
    background-color: #51D679!important;
}
.text-success{
    color: #51D679!important;
}
.text-danger{
    color: #ff6b6b!important;
}
.bg-danger{
    background-color: #ff6b6b!important;
}
.badge{
    color: #fff;
    font-size: 11px;
    padding: 5px 10px 7px 10px;
    font-weight: 400;
    border-radius: 30px;
    display: inline-block;
    margin-top: 3px;
}
.n-p{
    padding: 0px!important;
}
.table tr:first-child td, .table tr:first-child th{
    border-top: none!important;
}

.table td, .table th{
    border-top: 1px solid #efefef;
}


.table tr th, .table tr td{
    padding: 15px 25px;
    font-weight: normal;
}
.text-capitalize{
    text-transform: capitalize!important;
}

.offline{
    position: relative;
    transition:0.3s;
}

.offline-icon{
    display: none;
}

.offline .card-body{
    opacity: 0.2;
}
.offline-icon::before{
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    content: "\f06a";
    font-size: 20px;
    
}
.offline .offline-icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -16px;
    margin-left: -8px;
    left: 50%;
    z-index: 999;
}

.sidebar{
    position: fixed;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 6px 20px 5px rgba(154, 154, 154, 0.1);

}
.sidebar li{
    font-size: 20px;
    cursor: pointer;

}
.sidebar li a{
    padding: 20px 24px;
    border-left: 3px solid #fff;
    display: inline-block;
    width: 100%;
    color: #666;
}

.sidebar li a:hover{
    color: #8A929E;
    background: none;
}
.sidebar li a.active{
    background-color: #F1F1FA;
    color: #4949BE;
    border-left: 3px solid #4949BE;
}

.iziToast{
    border-radius: 6px!important;
}




